@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--card-background: #f3f4f6;
	--card-foreground: #1f2937;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1a1a1a;
		--foreground: #ededed;
		--card-background: #2d2d2d;
		--card-foreground: #e5e7eb;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-geist-sans), Arial, sans-serif;
}

/* 添加滚动条样式 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	right: 0px;
	position: absolute;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.25);
}

/* 让滚动容器有一些内边距，以防止内容被滚动条遮挡 */
.overflow-auto,
.overflow-y-auto,
.overflow-x-auto {
	padding-right: 2px;
}

/* 暗色模式下的滚动条样式 */
@media (prefers-color-scheme: dark) {
	::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0.1);
	}

	::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.2);
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(255, 255, 255, 0.3);
	}
}
